.steps {
    background: darken($body-bg, 15%);
    @extend .rounded;
    @extend .mb-2;

    .nav-item {        
        .nav-link {
            @extend .text-body;
            // @extend .mb-2;

            .step-i {
                font-size: 1.2em;
                display: block;
            }

            &.disabled {
                @extend .text-muted;
            }

            &.active {
                font-weight: bold;

                &.has-error {
                    @extend .text-danger;
                }
            }
        }
    }
}